<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday</title>
</head>
<body>
    <div>
        <h1>Jeji :</h1>
        {% if jeji %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's his Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not his birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Ujwala :</h1>
        {% if ujju %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Suhitha :</h1>
        {% if suhi %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Rusk :</h1>
        {% if rusk %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>M.Jayasree :</h1>
        {% if santhu %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Likitha :</h1>
        {% if tom %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Sukesh Reddy :</h1>
        {% if suke %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Tharun :</h1>
        {% if tharun %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Gayatri :</h1>
        {% if gayatri %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Mothilal :</h1>
        {% if moti %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Jyo :</h1>
        {% if jyo %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Akki :</h1>
        {% if akki %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's his Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not his birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Roshini :</h1>
        {% if butterfly %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
    <div>
        <h1>Puji :</h1>
        {% if puji %}
            <h1 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Yahooooooooo! It's her Birthday!!!!!!</h1>
        {% else %}
            <h2 style="display:flex;flex-direction:row;text-align:center;font-family:time;">Nope,Its not her birthday,soon it comes......</h2>
        {% endif %}
    </div>
</body>
</html>